<nav class="level">
  <p class="level-item has-text-centered">
    <a class="title" href="../home.php">Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title" href="https://www.youtube.com/watch?v=zoZY9DjntAI">Menu</a>
  </p>
  <p class="level-item has-text-centered">
    <img src="../storage/espada1.png" alt="" style="height: 50px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="title" href="../usuarios/perfil.php">Perfil</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title">Cerrar Sesion</a>
  </p>
</nav>