<nav class="level">
  <p class="level-item has-text-centered">
    <a class="title" href="http://codd.ing.puc.cl/~grupo62/home.php">Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title" href="https://www.youtube.com/watch?v=rGCxtPLzwO8">Menu</a>
  </p>
  <p class="level-item has-text-centered">
    <img src="http://codd.ing.puc.cl/~grupo62/storage/espada1.png" alt="" onmouseover="this.src='http://codd.ing.puc.cl/~grupo62/storage/espada2.png';" onmouseout="this.src='http://codd.ing.puc.cl/~grupo62/storage/espada1.png';" style="height: 50px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="title" href="http://codd.ing.puc.cl/~grupo62/usuarios/perfil.php">Perfil</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title" href="http://codd.ing.puc.cl/~grupo62/log_out.php">Cerrar Sesion</a>
  </p>
</nav>