<nav class="level">
  <p class="level-item has-text-centered">
    <a class="title is-3 navbar-item" href="http://codd.ing.puc.cl/~grupo62/home.php">
      <ion-icon name="storefront"></ion-icon>
      Home
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title is-3 navbar-item" href="https://www.youtube.com/watch?v=rGCxtPLzwO8">
      <ion-icon name="menu"></ion-icon>
      Menu
    </a>
  </p>
  <p class="level-item has-text-centered">
    <img src="http://codd.ing.puc.cl/~grupo62/storage/espada1.png" alt="" onmouseover="this.src='http://codd.ing.puc.cl/~grupo62/storage/espada2.png';" onmouseout="this.src='http://codd.ing.puc.cl/~grupo62/storage/espada1.png';" style="height: 50px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="title is-3 navbar-item" href="http://codd.ing.puc.cl/~grupo62/usuarios/perfil.php">
      <ion-icon name="person-circle"></ion-icon>
      Perfil
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="title is-4 navbar-item" href="http://codd.ing.puc.cl/~grupo62/log_out.php">
      <ion-icon name="log-out"></ion-icon>
      Cerrar Sesion
    </a>
  </p>
</nav>